<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Table</title>
</head>
<body>
    <h1>Database Table Contents</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Data</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="https://github.com/miamiohTaylo271/225-5.1/blob/ff49696220733ba66726c6db4827b66dedeeb2a1/templates/game/JavaScript_Game.html" title="JavaScript_Game">game</a>
</body>
</html>
